{% extends 'base.html' %}

{% block content %}
<div id="fond" class="custom-container">
  <div class="container">
    <div class="logo-container">
      <img src="../static/SrcImgs/jobsLogo.png">
      <h1 class="firts-tittleContent"><span class="s">J</span>OB´s</h1>
    </div>    
    <h1 class="second-tittleContent"> Bienvenido a <span class="cp">J</span><span class="cp2">OB´s</span>. Inicia <span class="cp2">sesión</span> o <span class="cp2">registrate</span> antes de empezar.      
    <div class="button-container">
      <a href="{% url 'accounts:login' %}" class="button">LOGIN</a>
      <a href="{% url 'accounts:register' %}" class="button register">REGISTER</a> 
    </div>
  </div>
</div>
{% endblock %}