# Archivos generados automáticamente
__pycache__/
*.pyc
*.pyo

# Archivos de configuración local
.env
.vscode/
.idea/

# Entorno virtual
venv/
env/

# Dependencias de Node.js
node_modules/